# --- DEPENDENCIAS (Nunca subir) ---
node_modules/
/node_modules
*/node_modules

# --- VARIABLES DE ENTORNO Y SECRETOS (CRÍTICO) ---
.env
.env.local
.env.*.local

# --- BUILD DE ANGULAR ---
/dist
/tmp
/out-tsc
.angular/
.sass-cache/
/connect.lock
/coverage
/src/environments/environment.ts 

# --- IDEs y SISTEMA (Basura) ---
.idea/
.vscode/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# --- LOGS ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log