<div class="inventory-container">
  <h2>Registro de Inventario</h2>

  <!-- INFO -->
  @if (!inventarioId) {
  <div class="alert-info">
    Selecciona una sucursal y crea el inventario antes de capturar cantidades.
  </div>
  }

  <!-- FORM -->
  <form
    class="inventory-form"
    [formGroup]="inventarioForm"
    (ngSubmit)="crearInventario()"
  >
    <div class="form-group">
      <label>Sucursal</label>
      <select formControlName="sucursalId" [disabled]="!!inventarioId">
        @for (s of sucursales; track s.sucursal_id) {
        <option [value]="s.sucursal_id">
          {{ s.nombre }}
        </option>
        }
      </select>

      @if ( inventarioForm.get('sucursalId')?.invalid &&
      inventarioForm.get('sucursalId')?.touched ) {
      <span class="error-text">Sucursal requerida</span>
      }
    </div>

    <button
      type="submit"
      class="btn-primary"
      [disabled]="inventarioForm.invalid || inventarioId"
    >
      Crear Inventario
    </button>
  </form>

  <hr />

  <!-- TABLA -->
  @if (isLoading) {
  <p class="loading-text">Cargando insumos...</p>
  } @else {

  <div class="table-wrapper">
    <table class="tabla-inventario">
      <thead>
        <tr>
          <th>INSUMO</th>
          <th>UNIDAD</th>
          <th>CANTIDAD</th>
        </tr>
      </thead>

      <tbody>
        @for (insumo of insumos; track insumo.insumo_id) {
        <tr>
          <td>{{ insumo.nombre }}</td>
          <td>{{ insumo.unidad_medida }}</td>
          <td>
            <input
              type="number"
              min="0"
              step="1"
              [(ngModel)]="insumo.cantidad"
              [disabled]="!inventarioId"
            />
          </td>
        </tr>
        } @if (insumos.length === 0) {
        <tr>
          <td colspan="3" class="no-data">No hay insumos registrados</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <button
    class="btn-success full-width"
    [disabled]="!inventarioId || !hayCantidadesValidas()"
    (click)="guardarDetalle()"
  >
    Guardar Inventario
  </button>
  }
</div>
