<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal-content">
    <h3>{{ isEditing ? 'Editar Usuario' : 'Nuevo Usuario' }}</h3>
    
    <form [formGroup]="usuarioForm" (ngSubmit)="submit()">
      
      <div class="form-field">
        <label>Nombre Completo</label>
        <input type="text" formControlName="nombre" maxlength="100">

        <small class="error-text" *ngIf="usuarioForm.get('nombre')?.hasError('required') && (usuarioForm.get('nombre')?.dirty || usuarioForm.get('nombre')?.touched)">
          El nombre es obligatorio.
        </small>
      </div>

      <div class="form-row">
        <div class="form-field half">
          <label>Usuario</label>
          <input type="text" formControlName="username" maxlength="50">

          <small class="error-text" *ngIf="usuarioForm.get('username')?.hasError('required') && (usuarioForm.get('username')?.dirty || usuarioForm.get('username')?.touched)">
            El usuario es obligatorio.
          </small>
        </div>
        <div class="form-field half">
          <label>Email</label>
          <input type="email" formControlName="email" maxlength="255">

          <small class="error-text" *ngIf="usuarioForm.get('email')?.hasError('required') && (usuarioForm.get('email')?.dirty || usuarioForm.get('email')?.touched)">
            El correo es obligatorio.
          </small>
          <small class="error-text" *ngIf="usuarioForm.get('email')?.hasError('email') && (usuarioForm.get('email')?.dirty || usuarioForm.get('email')?.touched)">
            Formato de correo inválido.
          </small>
        </div>
      </div>

      <div class="form-field">
        <label>Contraseña {{ isEditing ? '(Opcional)' : '(min. 6 caracteres)' }}</label>
        <input type="password" formControlName="password" maxlength="50">
        <small class="error-text" *ngIf="usuarioForm.get('password')?.hasError('required') && (usuarioForm.get('password')?.dirty || usuarioForm.get('password')?.touched)">
          La contraseña es requerida.
        </small>
        <small class="error-text" *ngIf="usuarioForm.get('password')?.hasError('minlength') && (usuarioForm.get('password')?.dirty || usuarioForm.get('password')?.touched)">
          Mínimo 6 caracteres.
        </small>
      </div>

      <div class="form-field">
        <label>Rol</label>
        <select formControlName="rol">
          <option value="gerente">Gerente</option>
          <option value="operaciones">Operaciones</option>
          <option value="admin">Administrador</option>
        </select>
      </div>

      <div class="form-field" *ngIf="usuarioForm.get('rol')?.value === 'gerente'">
        <label>Asignar Sucursal</label>
        <select formControlName="sucursal_id">
          <option [ngValue]="null" disabled>-- Selecciona --</option>
          <option *ngFor="let suc of sucursales" [value]="suc.sucursal_id">
            {{ suc.nombre }}
          </option>
        </select>
      </div>

      <div class="modal-actions">
        <button type="button" class="btn-secondary" (click)="cancel()">Cancelar</button>
        <button type="submit" class="btn-primary" [disabled]="usuarioForm.invalid">Guardar</button>
      </div>
    </form>
  </div>
</div>